/*

!.gitignore
!LICENSE.md
#!.gitattributes this is optional

# Ignore game folder, and all default dota_addons folders
!Game
/Game/*
!/Game/scripts



# Ignore content folder, and all default dota_addons folders
/Content/*