/*

!.gitignore
#!.gitattributes this is optional

# Ignore game folder, and all default dota_addons folders
!game
/game/*
!/game/dota_addons
/game/dota_addons/*
!/game/dota_addons/spelllibrary
/game/dota_addons/spelllibrary/*
!/game/dota_addons/spelllibrary/scripts



# Ignore content folder, and all default dota_addons folders
!content
/content/*
!/content/dota_addons
/content/dota_addons/*